<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620254222892-8tkqqojpprbv5ae88mkatrvfkpk631nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620254222892-8tkqqojpprbv5ae88mkatrvfkpk631nj</string>
	<key>API_KEY</key>
	<string>AIzaSyByw3nafDB9WVx1fw0kyaoBxxBKeF7bEiE</string>
	<key>GCM_SENDER_ID</key>
	<string>620254222892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatKaro</string>
	<key>PROJECT_ID</key>
	<string>chat-karo-4ca32</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-karo-4ca32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620254222892:ios:7de82e3911ad76a3278f89</string>
</dict>
</plist>